@import "image-root.scss";
* {
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar-thumb{
    display: none;

    
}
::-webkit-scrollbar {
    display: none;


}
::-webkit-scrollbar-button {
    display: none;
    }
a {
    text-decoration: none;
}
p, h1, h2, h3, a {
font-family: 'Open Sans', sans-serif;
color: $text-color;
}
img {
    border-radius: 0.4vw;
}
html {
    scroll-behavior: smooth;
    body {
        background-color: $important-color;
    .container {
    margin: 10px 20px;

    .text {
        margin-top: 55px;
        font-size: 1em;
        text-align: center;
        .text-inform {
        h1 {
            font-size: 3em;
        }
        p[data-title=""] {
            font-size: 2em;
        }
        p[data-text=""] {
            margin: 20px 0;
        }
                    }   
            .telephone-number {
                a[href="#open-number"] {
                    z-index: 10;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: fixed;
                    top: 81%;
                    left: 10px;
                    width: 250px;
                    height: 75px;
                    font-size: 3em;
                background-color: $important-color2;
                border: 5px solid $text-color;
                border-radius: 20px;
                &:hover {
                    animation-name: op-tr-;
                    animation-duration: 0.3s;
                    animation-fill-mode:forwards;
                }
                    }   

                .number {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                background: rgba(0,0,0,0.3);
                z-index: 100;
                -webkit-transition: opacity 350ms ease-in; 
                -moz-transition: opacity 350ms ease-in;
                transition: opacity 350ms ease-in;
                opacity: 0;
                pointer-events: none;
                    position: fixed;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: 0;
                    padding: 0;
                    &:target {
                        opacity: 1;
                        pointer-events: auto;
                    }
                    &:target ~ a[href="#open-number"] {
                        display: none;
                    }
                    .number-content {
                        background-color: $important-color;
                        border: 5px solid $text-color;
                        border-radius: 20px;
                        padding: 0 3vw 1vw 3vw;
                        text-align: center;
                        p[class="title-number"] {
                            font-size: 2em;
                            margin: 1vw 0;
                        }
                        p[class="p-number"] {
                            font-size: 3em;
                            }
                            a[data-link=""] {
                                border-bottom: 2px solid $text-color;
                                font-size: 2.5em;
                                font-weight: 500;
                                margin: 1.5vw 0;
                                &:hover{
                                    opacity: 0.7;
                                }
                            }
                            a[href="#number-close"] {
                                opacity: 0.7;
                                z-index: 150;
                                position: fixed;
                                top: 1%;
                                left: 1%;
                                display: block;
                                width: 60px;
                                height: 60px;
                                background: url("../img-sait/img-sait/next2.jpg");
                                background-size: 100% 100%;
                                border-radius: 20px;
                                &:hover {
                                    animation-name: op-tr;
                                    animation-duration: 0.3s;
                                    animation-fill-mode:forwards;
                                }
                            }
                    }
                }
            }
    }
        .in-top {
            z-index: 10;
            position: fixed;
            right: 10vw;
            bottom: 9vw;
            &:hover {
                animation-name: op-tr-;
                animation-duration: 0.3s;
                animation-fill-mode:forwards;
            }
            .in-top-a {
                img {
                    background-size: 100% 100%;
                    border-radius: 100%;
                    width: 50px;
                    height: 50px;
                }
            }
        }

    .container {
        display: flex;
        justify-content: center;
        .picture {
            display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5vw;

        margin: 20px 0 130px 0;
            .img {
                text-align: center;
                opacity: 1;
                &:hover {
                    animation-name: op-tr-;
                    animation-duration: 0.3s;
                    animation-fill-mode:forwards;
                }
                p {
                    font-size: 20px;
                }
                .image {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 1vw;
                    img {
                        background-size: cover;
                        width: 10vw;
                        width: 10vw;
                    }
            }
                    }
                }
            }
        }
        .loading {
            flex-wrap: wrap;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            background-color: $important-color;
            opacity: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            pointer-events: none;
            
            animation-name: loading;
            animation-duration: 1s;
            animation-fill-mode:forwards;
                p {
                    font-size: 1.1em;
                    font-weight: bold;
                    margin-bottom: 50px;
                }
                img {
                    width: 100px;
                    height: 100px;
                    margin: 0;
                    background-size: 100% 100%;
                }
    }
}
}
